.dialog {
  padding: 15px 35px 0 35px;
  height: 100%;
  position: relative;
  &__name {
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #202020;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #f7f7f7;
    &-text {
      margin-bottom: 15px;
    }
  }
}
