.dialog {
  padding: 15px 0px 0 0px;
  height: 100%;
  position: relative;
  width: 75%;
  min-width: 400px;
  &__messages {
    height: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }
  &__messages::-webkit-scrollbar {
    width: 0;
  }
  &__name {
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #202020;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f7f7f7;

    &-text {
      margin-bottom: 15px;
    }
  }
}
